In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [3]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
source = requests.get(url).text
Canada_data = BeautifulSoup(source, 'lxml')

In [4]:
column_names = ['Postalcode','Borough','Neighborhood']
toronto = pd.DataFrame(columns = column_names)

In [5]:
content = Canada_data.find('div', class_='mw-parser-output')
table = content.table.tbody
postcode = 0
borough = 0
neighborhood = 0

for tr in table.find_all('tr'):
    i = 0
    for td in tr.find_all('td'):
        if i == 0:
            postcode = td.text
            i = i + 1
        elif i == 1:
            borough = td.text
            i = i + 1
        elif i == 2: 
            neighborhood = td.text.strip('\n').replace(']','')
    toronto = toronto.append({'Postalcode': postcode,'Borough': borough,'Neighborhood': neighborhood},ignore_index=True)

# clean dataframe 
toronto = toronto[toronto.Borough!='Not assigned']
toronto = toronto[toronto.Borough!= 0]
toronto.reset_index(drop = True, inplace = True)
i = 0
for i in range(0,toronto.shape[0]):
    if toronto.iloc[i][2] == 'Not assigned':
        toronto.iloc[i][2] = toronto.iloc[i][1]
        i = i+1
                                 
df = toronto.groupby(['Postalcode','Borough'])['Neighborhood'].apply(', '.join).reset_index()
df.head()

  Postalcode         Borough                            Neighborhood
0      M1A\n  Not assigned\n                          Not assigned\n
1      M1B\n   Scarborough\n                          Malvern, Rouge
2      M1C\n   Scarborough\n  Rouge Hill, Port Union, Highland Creek
3      M1E\n   Scarborough\n       Guildwood, Morningside, West Hill
4      M1G\n   Scarborough\n                                  Woburn

In [6]:
df.head(20)

,Postalcode,Borough,Neighborhood
0,M1A\n,Not assigned\n,Not assigned\n
1,M1B\n,Scarborough\n,"Malvern, Rouge"
2,M1C\n,Scarborough\n,"Rouge Hill, Port Union, Highland Creek"
3,M1E\n,Scarborough\n,"Guildwood, Morningside, West Hill"
4,M1G\n,Scarborough\n,Woburn
5,M1H\n,Scarborough\n,Cedarbrae
6,M1J\n,Scarborough\n,Scarborough Village
7,M1K\n,Scarborough\n,"Kennedy Park, Ionview, East Birchmount Park"
8,M1L\n,Scarborough\n,"Golden Mile, Clairlea, Oakridge"
9,M1M\n,Scarborough\n,"Cliffside, Cliffcrest, Scarborough Village West"
10,M1N\n,Scarborough\n,"Birch Cliff, Cliffside West"
11,M1P\n,Scarborough\n,"Dorset Park, Wexford Heights, Scarborough Town..."
12,M1R\n,Scarborough\n,"Wexford, Maryvale"
13,M1S\n,Scarborough\n,Agincourt
14,M1T\n,Scarborough\n,"Clarks Corners, Tam O'Shanter, Sullivan"
15,M1V\n,Scarborough\n,"Milliken, Agincourt North, Steeles East, L'Amo..."
16,M1W\n,Scarborough\n,"Steeles West, L'Amoreaux West"
17,M1X\n,Scarborough\n,Upper Rouge
18,M1Y\n,Not assigned\n,Not assigned\n
19,M1Z\n,Not assigned\n,Not assigned\n

In [7]:
df.drop(df.index[df['Borough'] == 'Not assigned'], inplace=True)

In [8]:
df = df.reset_index(drop=True)

In [9]:
df.head()

  Postalcode         Borough                            Neighborhood
0      M1A\n  Not assigned\n                          Not assigned\n
1      M1B\n   Scarborough\n                          Malvern, Rouge
2      M1C\n   Scarborough\n  Rouge Hill, Port Union, Highland Creek
3      M1E\n   Scarborough\n       Guildwood, Morningside, West Hill
4      M1G\n   Scarborough\n                                  Woburn

In [10]:
index_names = df[ df['Borough'] == "Not assigned\n" ].index

In [11]:
df.drop(index_names, inplace = True)

In [12]:
df.head()

  Postalcode        Borough                            Neighborhood
1      M1B\n  Scarborough\n                          Malvern, Rouge
2      M1C\n  Scarborough\n  Rouge Hill, Port Union, Highland Creek
3      M1E\n  Scarborough\n       Guildwood, Morningside, West Hill
4      M1G\n  Scarborough\n                                  Woburn
5      M1H\n  Scarborough\n                               Cedarbrae

In [14]:
df.shape

(103, 3)